@font-face {
    font-family: "bw-vivant";
    src: url('font/BwVivant-Skinny.ttf'), url('font/bw-vivant-black.ttf'), url('font/bw-vivant-bold.ttf'), url('font/bw-vivant-light.ttf'), url('font/bw-vivant-medium.ttf'), url('font/bw-vivant-regular.ttf'), url('font/bw-vivant-thin.ttf'), ;
}

.container{
    margin: 0 200px;
    align-items: center;
}

header{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.logo_header{
    margin-left: 50px;
}

i{
    color: #D3C09F;
    font-size: 36px;
    margin: 50px 50px 0 0;
}

.sessao-1{
    display: flex;
    justify-content: space-between;
}

.corpo-header{
    display: flex;
    justify-content: space-around;
}

.titulo{
    font-family: 'bw-vivant';
    font-size: 72px;
    font-weight: lighter;
    color: #483D39;  
    text-align: right;
}

.div-titulo{
    margin-left: 15%;
    text-align: right;
}

.btn a{
    text-decoration: none;
    border: 1px solid #4F7B60;
    color: #4F7B60;
    font-size: 18px;
    padding: 15px 5px;
}

.foto-banner{
    margin-right: 120px;
    margin-bottom: 100px;
    margin-top: -100px;
}

.foto-banner img{
    width: 400px;
    height: auto;
}

/* ------------------------------ */



.sessao-2{
    display: flex;
    margin-top: 80px;
    margin-bottom: 150px;
}

article{
    margin-left: 50px;
}

.titulo-2{
    font-family: 'bw-vivant';
    font-size: 60px;
    font-weight: lighter;
    color: #483D39;  
    text-align: left;
}

.texto-sobre{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: #483D39;
    margin-bottom: 50px;
    margin-top: -25px;
}

/* ------------------------------- */

section{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 80px;
}

.texto-h3{
    text-align: center;
    font-family: 'bw-vivant';
    font-size: 60px;
    font-weight: lighter;
    color: #D3C09F;
    margin-left: 150px;
    margin-right: 150px; 
    padding-top: 50px;
}

.btn-2{
    text-align: center;
}

.btn-2 a{
    text-decoration: none;
    border: 1px solid #D3C09F;
    background-color: white;
    color: #bdab8b;
    font-size: 18px;
    padding: 15px 5px;
    
}
/* ----------------------- */

.container-2{
    margin: 0 auto;
    width: 60%;
 }

.titulo-texto{
    margin-right: 300px;
    margin-top: 150px;
}

.titulo-atendimento{
    font-family: 'bw-vivant';
    font-size: 60px;
    font-weight: lighter;
    color: #483D39;  
    text-align: center;
    margin-bottom: -20px;
     
}

.texto-atendimento{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: #483D39;
    text-align: center;
}

.sessao-cards{
    display: flex;
}

.card{
    border: 1px solid #bdab8b;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 10px;
    max-width: 300px;
    min-width: 300px;
}

.card img{
    width: 80px;
}

.titulo-card{
    font-family: 'bw-vivant';
    color: #483D39;
    font-size: 28px;
    margin-top: 5px;
    margin-bottom: 0px;
}

.texto-card{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #483D39;
    font-size: 18px;
}

.img-card img{
    width: 300px;
    height: auto;
    margin-top: -110px;
}
