@font-face {
    font-family: "bw-vivant";
    src: url('font/BwVivant-Skinny.ttf'), url('font/bw-vivant-black.ttf'), url('font/bw-vivant-bold.ttf'), url('font/bw-vivant-light.ttf'), url('font/bw-vivant-medium.ttf'), url('font/bw-vivant-regular.ttf'), url('font/bw-vivant-thin.ttf'), ;
}

.container {
    margin: 0 200px;
    align-items: center;
}

header {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.logo_header {
    margin-left: 50px;
}

i {
    color: #D3C09F;
    font-size: 36px;
    margin: 50px 50px 0 0;
}

.sessao-1 {
    display: flex;
    justify-content: space-between;
}

.corpo-header {
    display: flex;
    justify-content: space-around;
}

.titulo {
    font-family: 'bw-vivant';
    font-size: 72px;
    font-weight: lighter;
    color: #483D39;
    text-align: right;
}

.div-titulo {
    margin-left: 15%;
    text-align: right;
}

.btn a {
    text-decoration: none;
    border: 1px solid #4F7B60;
    color: #4F7B60;
    font-size: 18px;
    padding: 15px 5px;
}

.foto-banner {
    margin-right: 120px;
    margin-bottom: 100px;
    margin-top: -100px;
}

.foto-banner img {
    width: 400px;
    height: auto;
}

/* ------------------------------ */



.sessao-2 {
    display: flex;
    margin-top: 80px;
    margin-bottom: 150px;
}

article {
    margin-left: 50px;
}

.titulo-2 {
    font-family: 'bw-vivant';
    font-size: 55px;
    font-weight: lighter;
    color: #483D39;
    text-align: left;
}

.texto-sobre {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: #483D39;
    margin-bottom: 50px;
    margin-top: -25px;
}

.btn-1 a {
    text-decoration: none;
    border: 1px solid #4F7B60;
    color: #4F7B60;
    font-size: 18px;
    padding: 15px 5px;
}

/* ------------------------------- */

section {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 80px;
}

.texto-h3 {
    text-align: center;
    font-family: 'bw-vivant';
    font-size: 50px;
    font-weight: lighter;
    color: #D3C09F;
    margin-left: 150px;
    margin-right: 150px;
    padding-top: 50px;
}

.btn-2 {
    text-align: center;
}

.btn-2 a {
    text-decoration: none;
    border: 1px solid #D3C09F;
    background-color: white;
    color: #bdab8b;
    font-size: 18px;
    padding: 15px 5px;

}

/* ----------------------- */

.container-2 {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titulo-texto {
    text-align: center;
    margin-right: 350px;
    padding-right: 200px;
    padding-left: 200px;
    margin-top: 50px;
}

.titulo-atendimento {
    font-family: 'bw-vivant';
    font-size: 60px;
    font-weight: lighter;
    color: #483D39;
    text-align: center;
    margin-bottom: -20px;

}

.texto-atendimento {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: #483D39;
    text-align: center;
}

.sessao-cards {
    display: flex;
}

.card {
    border: 1px solid #bdab8b;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 10px;
    max-width: 300px;
    min-width: 300px;
}

.card img {
    width: 80px;
}

.titulo-card {
    font-family: 'bw-vivant';
    color: #483D39;
    font-size: 28px;
    margin-top: 5px;
    margin-bottom: 0px;
}

.texto-card {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #483D39;
    font-size: 18px;
}

.img-card img {
    width: 300px;
    height: auto;
    margin-top: -110px;
    margin-left: 50px;
}

/* ------------------------ */
footer {
    background-color: #214C39;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 100px;
}

.footer {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

.footer a {
    text-decoration: none;
}

.footer img {
    width: 350px;
}

.titulo-footer {
    color: rgba(255, 255, 255, 0.671);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.texto-footer {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.i i {
    color: white;
    margin-top: 0;
}



/* TABLET */

@media (max-width: 768px) {

    .container {
        margin: 0 50px;
        align-items: center;
    }

    .logo_header {
        margin-left: 20px;
    }

    i {
        color: #D3C09F;
        font-size: 36px;
        margin-top: 50px;
    }

    .sessao-1 {
        display: flex;
        justify-content: space-between;
    }

    .corpo-header {
        display: flex;
        justify-content: start;
    }

    .titulo {
        font-family: 'bw-vivant';
        font-size: 60px;
        font-weight: lighter;
        color: #483D39;
        text-align: left;
    }

    .div-titulo {
        margin-left: 2%;
        margin-bottom: 40px;
        margin-top: -40px;
        text-align: left;
        margin-left: 20px;
    }

    .foto-banner {
        display: none;
    }

    /* ------------------------------ */



    .sessao-2 {
        display: block;
        margin-top: 80px;
        margin-bottom: 150px;
    }

    article {

        margin-left: 0px;
    }

    .titulo-2 {
        font-family: 'bw-vivant';
        font-size: 60px;
        font-weight: lighter;
        color: #483D39;
        text-align: center;
    }

    .texto-sobre {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 25px;
        color: #483D39;
        margin-bottom: 50px;
        margin-top: -25px;
        text-align: center;
    }

    .btn-1 {
        text-align: center;
    }

    .btn-1 a {
        text-decoration: none;
        border: 1px solid #4F7B60;
        color: #4F7B60;
        font-size: 18px;
        padding: 15px 5px;
    }

    /* ------------------------------- */

    .texto-h3 {
        text-align: center;
        font-family: 'bw-vivant';
        font-size: 35px;
        font-weight: lighter;
        color: #D3C09F;
        margin-left: 70px;
        margin-right: 70px;
        padding-top: 50px;
    }

    /* ----------------------- */

    .container-2 {
        margin: 0 auto;
        width: 0;

    }

    .titulo-texto {
        text-align: center;
        margin-right: 0px;
        margin-left: 0;
        padding-right: 200px;
        padding-left: 200px;
        margin-top: 0px;
    }

    .titulo-atendimento {
        font-family: 'bw-vivant';
        font-size: 60px;
        font-weight: lighter;
        color: #483D39;
        text-align: center;
        margin-bottom: 0px;
    }

    .texto-atendimento {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 25px;
        color: #483D39;
        text-align: center;

    }

    .sessao-cards {
        display: flex;
        justify-content: center;
        align-items: center;
        

    }

    .card {
        border: 1px solid #bdab8b;
        margin-right: 20px;
        margin-bottom: 20px;
        padding: 10px;
        max-width: 310px;
        min-width: 310px;
        max-height: 220px;
        min-height: 220px;
    }

    .card img {
        width: 80px;
        margin-left: 10px;
    }

    .titulo-card {
        font-family: 'bw-vivant';
        color: #483D39;
        font-size: 28px;
        margin-top: 5px;
        margin-bottom: 0px;
        margin-left: 10px;
    }

    .texto-card {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #483D39;
        font-size: 18px;
        margin-left: 10px;
    }

    .img-card img {
        display: none;
    }

    /* ------------------------ */

    footer {
        background-color: #214C39;
        padding-top: 50px;
        padding-bottom: 50px;
        margin-top: 100px; 
    }

    .footer {
        display: flex;
        text-decoration: none;
    }

    .footer a {
        text-decoration: none;
    }

    .footer img {
        width: 250px;
    }

    .titulo-footer {
        color: rgba(255, 255, 255, 0.671);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .texto-footer {
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    }

    .i i {
        color: white;
        margin: 0;
    }
}

/* MOBILE */

@media (max-width: 425px) {

    .container {
        margin: 0 20px;
        align-items: center;
    }
    
    header {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: left;
    }
    
    .logo_header {
        margin-left: 0px;
    }

    .logo_header img{
        width: 300px;
    }
    
    i {
        color: #D3C09F;
        font-size: 30px;
        margin: 40px 20px 0 0;
    }
    
    .sessao-1 {
        display: flex;
        justify-content: space-between;
    }
    
    .corpo-header {
        display: flex;
        justify-content: space-around;
    }
    
    .titulo {
        font-family: 'bw-vivant';
        font-size: 50px;
        font-weight: lighter;
        color: #483D39;
        text-align: left;
    }
    
    .div-titulo {
        margin-left: 0%;
        text-align: left;
    }
    
    .btn a {
        text-decoration: none;
        border: 1px solid #4F7B60;
        color: #4F7B60;
        font-size: 18px;
        padding: 15px 5px;
    }
    
    /* ------------------------------ */
    
    
    
    .sessao-2 {
        margin-top: 80px;
        margin-bottom: 150px;
    }
    
    article {
        margin-left: 0px;
    }
    
    .titulo-2 {
        font-family: 'bw-vivant';
        font-size: 55px;
        font-weight: lighter;
        color: #483D39;
        text-align: center;
    }
    
    .texto-sobre {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 20px;
        color: #483D39;
        margin-bottom: 50px;
        margin-top: -25px;
    }
    
    .btn-1 a {
        text-decoration: none;
        border: 1px solid #4F7B60;
        color: #4F7B60;
        font-size: 18px;
        padding: 15px 5px;
    }
    
    /* ------------------------------- */
    
    section {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding-bottom: 80px;
    }
    
    .texto-h3 {
        text-align: center;
        font-family: 'bw-vivant';
        font-size: 30px;
        font-weight: lighter;
        color: #D3C09F;
        margin-left: 20px;
        margin-right: 20px;
        padding-top: 50px;
    }
    
    .btn-2 {
        text-align: center;
    }
    
    .btn-2 a {
        text-decoration: none;
        border: 1px solid #D3C09F;
        background-color: white;
        color: #bdab8b;
        font-size: 18px;
        padding: 15px 5px;
    
    }
    
    /* ----------------------- */
    
    .container-2 {
        margin: 0 0;
        display: block;
    }
    
    .titulo-texto {
        text-align: center;
        margin-right: 0;
        padding-right: 0px;
        padding-left: 0px;
        margin-top: 50px;
    }
    
    .titulo-atendimento {
        font-family: 'bw-vivant';
        font-size: 60px;
        font-weight: lighter;
        color: #483D39;
        text-align: center;
        margin-bottom: -20px;
    
    }
    
    .texto-atendimento {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 20px;
        color: #483D39;
        text-align: center;
    }
    
    .sessao-cards {
        display: block;
    }
    
    .card {
        border: 1px solid #bdab8b;
        margin-right: 20px;
        margin-bottom: 20px;
        padding: 10px;
        max-width: 300px;
        min-width: 300px;
    }
    
    .card img {
        width: 80px;
    }
    
    .titulo-card {
        font-family: 'bw-vivant';
        color: #483D39;
        font-size: 28px;
        margin-top: 5px;
        margin-bottom: 0px;
    }
    
    .texto-card {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #483D39;
        font-size: 18px;
    }
    
    .img-card img {
        width: 300px;
        height: auto;
        margin-top: -110px;
        margin-left: 50px;
    }
    
    /* ------------------------ */
    footer {
        display: none;
        background-color: #214C39;
        padding-top: 50px;
        padding-bottom: 50px;
        margin-top: 100px;
    }
    
    .footer {
        display: flex;
        justify-content: space-between;
        text-decoration: none;
    }
    
    .footer a {
        text-decoration: none;
    }
    
    .footer img {
        width: 350px;
    }
    
    .titulo-footer {
        color: rgba(255, 255, 255, 0.671);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    .texto-footer {
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    }
    
    .i i {
        color: white;
        margin-top: 0;
    }
    
}